[Desktop Entry]
Name=ArgOS Tag Studio
Comment=Editor de etiquetas MP3
Exec=argostag-studio
Icon=argostag-studio
Terminal=false
Type=Application
Categories=AudioVideo;Audio;

